* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(250, 231, 250);
}

.slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box{
    width: 500px;
    height: 300px;
    margin: 0 5em;
}

.fa-chevron-left, .fa-chevron-right{
    font-size: 3em;
    font-weight: 600;
}

.slider-indicator{
    display: flex;
    margin-top: 2em;
}

.box-1, .box-2, .box-3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(190, 189, 189);
    margin: .7em;
    box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.56);
    -webkit-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 10px 17px -8px rgba(0,0,0,0.56);
}

.indicate-color{
    background-color: rgb(90, 89, 89);
}